<<<<<<< Updated upstream
footer {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
  background-color: #d9dcdb;
  padding-left: 10px;
  background-image: url(../imagenes\ footer/lanin.png);
  background-size: cover;
}

footer,
.h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #4724c7;
}

.redes {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.info {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #d9dcdb;
}

.logo {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}

footer,
.h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  
  color: #4724c7;
  /* background-color: #d9dcdb; */
}

.icono1,
.icono2,
.icono3 {
  width: 70px;
}

.insta {
  margin-left: 15px;
  margin-right: 15px;
}
.face {
  margin-left: 30px;
  padding-right: 25px;
}
.tw {
  margin-left: 20px;
  margin-right: 5px;
}
footer,
.pfooter {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1cm;
  color: aqua;
}

<<<<<<< HEAD
/** Estilo del login **/
.body1{
  margin: 0;
  padding: 0;
  background-image: url(../imganes/imageneslogin/glaciarperitomoreno.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  height: 100vh
}
.bg{
 background-image: url(../imganes/imageneslogin/fondo2.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 margin: 2em;
  
}
.bg1{
  background: rgba(5, 7, 12,0.30);
}
.text-tit{
  color: white;
  font-size: 2em;
}
.textlogin{
  color: rgb(139, 134, 134);
  font-size: 1em;
}
.inp1{
  background: rgba(5, 7, 12,0.50);
}
.inp2{
  background: rgba(5, 7, 12,0.50);
}
.for1{
  color: white;
}
.btnlog{
  background-color: red;
}
.register1{
  color: rgb(139, 134, 134);
  font-size: 1em;
}
.regist{
  color: white;t 
}
/** Fin estilo login **/
=======
>>>>>>> 04e75004da6a0aa2e6d3863e183196b6f540c384

/** Estilo contaco**/

.bd1{
  /* background-color: #8ad7ae; */
}
<<<<<<< HEAD
=======


>>>>>>> 04e75004da6a0aa2e6d3863e183196b6f540c384
h5,
.descripción {
  color: #4724c7;
}
p,
.slogan {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #d9dcdb;
  /* background-color: #8ad7ae; */
}
<<<<<<< HEAD
=======
/* Pagina Nosotros */
.pageNosotros {
  background-color: #8ad7ae;
}

/* Pagina Contacto */
.pageContacto {
  background-color: #8ad7ae;
}

.bd1 {
  background-color: #8ad7ae;
}
>>>>>>> Stashed changes
=======
>>>>>>> 04e75004da6a0aa2e6d3863e183196b6f540c384
