.columna-1 {
  height: 12em;
  
}
.titulo-1 {
  margin-top: 10px;
  color: rgb(11, 146, 139);
}
.main {
  margin-left: 2em;
}
.figure-1 {
  margin-top: 1.5em;
  border-radius: 2em 2em 2em 2em;
  height: 9em;
  width: 15em;
  margin-left: 10px;
}
.figure-2 {
  margin-top: 1.5em;
  border-radius: 2em 2em 2em 2em;
  height: 9em;
  margin-left: 10px;
}
.figure-3 {
  margin-top: 1.5em;
  border-radius: 2em 2em 2em 2em;
  height: 9em;
  margin-left: 10px;
}
.figure-4 {
  /* margin-top: 1.5em; */
  border-radius: 1em 1em 1em 1em;
}
