footer {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
  background-color: #d9dcdb;
  padding-left: 10px;
  background-image: url(../imganes/imagenesfooter/lanin.png);
  background-size: cover;
}

.islas,
h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-shadow: -2px 0 rgb(129, 203, 216), 0 2px rgb(129, 203, 216),
    -2px 0 rgb(129, 203, 216), 0 -2px rgb(129, 203, 216);
  color: #2364f0;
}

.redes {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.info {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #d9dcdb;
}

.logo {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}

.redesh2,
h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: -2px 0 rgb(31, 34, 34), 0 2px rgb(23, 24, 24),
    -2px 0 rgb(18, 18, 19), 0 -2px rgb(27, 29, 29);
  color: #d9dcdb;
}

.icono1,
.icono2,
.icono3 {
  width: 70px;
}

.insta {
  margin-left: 15px;
  margin-right: 15px;
}
.face {
  margin-left: 30px;
  padding-right: 25px;
}
.tw {
  margin-left: 20px;
  margin-right: 5px;
}
footer,
.pfooter {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1cm;
  color: rgb(33, 34, 34);
  text-shadow: -2px 0 rgb(129, 203, 216), 0 2px rgb(129, 203, 216),
    -2px 0 rgb(129, 203, 216), 0 -2px rgb(129, 203, 216);
}
.descripción {
  color: #4724c7;
}
.slogan1,
p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #d9dcdb;
  background-color: #8ad7ae;
}

.columna-1 {
  height: 12em;
}
.titulo-1 {
  color: yellow;
}
.main {
  margin-left: 2em;
}
.figure-1 {
  margin-top: 1.5em;
  border-radius: 2em 2em 2em 2em;
}
