footer {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
  background-color: #d9dcdb;
  padding-left: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #4724c7;
}

.redes {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  background-color: #8ad7ae;
  color: #4724c7;
}

.icono1,
.icono2,
.icono3 {
  width: 70px;
}

.insta {
  margin-left: 15px;
  margin-right: 15px;
}
.face {
  margin-left: 30px;
}
.tw {
  margin-left: 20px;
  margin-right: 5px;
}
p,
.pfooter {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1cm;
  color: aqua;
}

/** Estilo del login **/
.body1{
  margin: 0;
  padding: 0;
  background-image: url(../imganes/imageneslogin/glaciarperitomoreno.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  height: 100vh
}
.bg{
 background-image: url(../imganes/imageneslogin/fondo2.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 margin: 2em;
  
}
.bg1{
  background: rgba(5, 7, 12,0.30);
}
.text-tit{
  color: white;
  font-size: 2em;
}
.textlogin{
  color: rgb(139, 134, 134);
  font-size: 1em;
}
.inp1{
  background: rgba(5, 7, 12,0.50);
}
.inp2{
  background: rgba(5, 7, 12,0.50);
}
.for1{
  color: white;
}
.btnlog{
  background-color: red;
}
.register1{
  color: rgb(139, 134, 134);
  font-size: 1em;
}
.regist{
  color: white;
}
/** Fin estilo login **/

/** Estilo de register **/









/** Fin estilo register **/
.container{
  height: 30em;
  border-radius: 1em;
}
.coll1{
  position: relative;
}

.people1{
  position: absolute;
  margin-left: 1.3em;
  margin-top: 0.8em;
}
.first{
 padding: 0.5em 0em 0.5em 3em;
}
.coll2{
  position: relative;
}

.coll3{
  position: relative;
}
.letter1{
  position: absolute;
  margin-left: 1.3em;
  margin-top: 0.8em;
}
.email1{
  padding: 0.5em 0 0.5em 3em;
}
.bg{
  background-image: url(../imganes/imageneslogin/ps2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/** Estilo contaco**/

.bd1{
  background-color: #8ad7ae;
}